text {
    color: black;
    font-family: 'Open Sans', sans-serif !important;
}

header {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 20px;
    width: 350px;
    line-height: 1.5;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px;
}

h3 {
    font-weight: 400;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

input {
    margin-right: 20px;
    margin-left: 20px
}

